.header {
  background-image: url('../../assets/images/mask(1).png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100px;
  line-height: 100px;
}
/* (sticky header behavior removed) */
@media only screen and (max-width:768px) {
    .navigation {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background: #00000084;
        display: none;
    }
    .menu {
    width: 15rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 200;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

}


   

